html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto; /* Cho phép cuộn theo chiều dọc */
}

.click-tooltip {
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    font-weight: bold;
}

canvas {
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
}
